
body{
    background:url("../img/6.jpg") no-repeat center center fixed ; /*фон і його зозміщення*/
    -webkit-background-size: cover; /*розтягує фон*/
    -moz-background-size: cover;
    background-size: cover;
    margin: 0;
}
header{
/*Параметри меню*/
    font-size: small;/*шрифт*/
    text-align: center;
    vertical-align: center;/* вирівнювання по вертикалі*/
    border-bottom: 1px solid white; /*нижня лінія*/
    margin-bottom: 2%; /*отступ*/
	 background: black;
}
a{
/*силка*/
    padding-right: 1%;
    color: white;
    text-decoration: none;/*щоб не виділялась*/
}
a:hover{
    border: 1px solid white;/*рамка*/
}
p{/*текст*/
    margin-top: 1%;/*отступи знизу і зверху*/
    margin-bottom: 0;
    text-align: center;
    font-family: Arial;/*шрифт*/
    font-size: small;
    width: 50%; /*ширина*/
    position: absolute;
	left: 24.9%;/*отступ*/
	color: white;

}
.tablediv {/*таблиці*/
    margin-top: 3%;
}
table{
    vertical-align: left;/*вирівнювання*/
    text-align: left;
    background-color: snow;
    border: 2px solid black;/*рамка*/
    border-collapse: collapse;/*одна риска між словами*/
    margin-top: 5%;
}
tr,td{/*лінії між словами*/
    border: 1px solid white;
    width: 1%;
    height: 25px;
	color: white;
	 background-color: black;
}
fieldset{/*обводка всієї*/
    margin-top: 2%;
    background-color: black;
}
legend{/*загловок д таблиці*/
    font-size: small;
    border: 1px solid black;
    background: black;
	color: white;
}
img{/*картинки*/
    width: 50%;
    height: 30%;
    margin: 0 auto;/*картинка по центру*/
	display: block;
    
}
.p{/*зроблено для почти*/
    margin-top: 1%;
    margin-bottom: 0;
    text-align: center;
    font-family: Arial;
    font-size: small;
    width: 50%;
    position: absolute;/*позиція необмежена*/
	left: 24.9%;
	 color: white;

}
